.body_background 
{
    background-position: center;
    background-size:contain;
	background:url(Grass.jpg);
}
#myCanvas
{
    border-width:10px;
    border-style:ridge;
	background: linear-gradient (#70E000 0% , #9EF01A 100%);
}


#hd3{
	display: inline-block;
	color: red;
	background-color: aliceblue;
	font-family: fantasy;
}

